aiohttp==3.8.4 ; python_full_version == "3.8.16"
aiosignal==1.3.1 ; python_full_version == "3.8.16"
altair==4.2.2 ; python_full_version == "3.8.16"
anyio==3.6.2 ; python_full_version == "3.8.16"
asn1crypto==1.5.1 ; python_full_version == "3.8.16"
async-timeout==4.0.2 ; python_full_version == "3.8.16"
attrs==23.1.0 ; python_full_version == "3.8.16"
autopep8==2.0.2 ; python_full_version == "3.8.16"
backoff==2.2.1 ; python_full_version == "3.8.16"
backports-zoneinfo==0.2.1 ; python_full_version == "3.8.16"
beautifulsoup4==4.12.2 ; python_full_version == "3.8.16"
blinker==1.6.2 ; python_full_version == "3.8.16"
cachetools==5.3.0 ; python_full_version == "3.8.16"
certifi==2022.12.7 ; python_full_version == "3.8.16"
cffi==1.15.1 ; python_full_version == "3.8.16"
charset-normalizer==2.1.1 ; python_full_version == "3.8.16"
chromadb==0.3.21 ; python_full_version == "3.8.16"
click==8.1.3 ; python_full_version == "3.8.16"
clickhouse-connect==0.5.20 ; python_full_version == "3.8.16"
cloudpickle==2.0.0 ; python_full_version == "3.8.16"
cmake==3.26.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
colorama==0.4.6 ; platform_system == "Windows" and python_full_version == "3.8.16" or sys_platform == "win32" and python_full_version == "3.8.16"
contourpy==1.0.7 ; python_full_version == "3.8.16"
cryptography==40.0.2 ; python_full_version == "3.8.16"
cycler==0.11.0 ; python_full_version == "3.8.16"
decorator==5.1.1 ; python_full_version == "3.8.16"
duckdb==0.7.1 ; python_full_version == "3.8.16"
entrypoints==0.4 ; python_full_version == "3.8.16"
faker==18.5.1 ; python_full_version == "3.8.16"
fastapi==0.95.1 ; python_full_version == "3.8.16"
favicon==0.7.0 ; python_full_version == "3.8.16"
filelock==3.12.0 ; python_full_version == "3.8.16"
fonttools==4.39.3 ; python_full_version == "3.8.16"
frozenlist==1.3.3 ; python_full_version == "3.8.16"
fsspec==2023.4.0 ; python_full_version == "3.8.16"
gitdb==4.0.10 ; python_full_version == "3.8.16"
gitpython==3.1.31 ; python_full_version == "3.8.16"
h11==0.14.0 ; python_full_version == "3.8.16"
hnswlib==0.7.0 ; python_full_version == "3.8.16"
htbuilder==0.6.1 ; python_full_version == "3.8.16"
httptools==0.5.0 ; python_full_version == "3.8.16"
huggingface-hub==0.14.0 ; python_full_version == "3.8.16"
idna==3.4 ; python_full_version == "3.8.16"
importlib-metadata==6.6.0 ; python_full_version == "3.8.16"
importlib-resources==5.12.0 ; python_full_version == "3.8.16"
jinja2==3.1.2 ; python_full_version == "3.8.16"
joblib==1.2.0 ; python_full_version == "3.8.16"
jsonschema==4.17.3 ; python_full_version == "3.8.16"
kiwisolver==1.4.4 ; python_full_version == "3.8.16"
lit==16.0.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
lxml==4.9.2 ; python_full_version == "3.8.16"
lz4==4.3.2 ; python_full_version == "3.8.16"
markdown-it-py==2.2.0 ; python_full_version == "3.8.16"
markdown==3.4.3 ; python_full_version == "3.8.16"
markdownlit==0.0.7 ; python_full_version == "3.8.16"
markupsafe==2.1.2 ; python_full_version == "3.8.16"
matplotlib==3.7.1 ; python_full_version == "3.8.16"
mdurl==0.1.2 ; python_full_version == "3.8.16"
monotonic==1.6 ; python_full_version == "3.8.16"
more-itertools==9.1.0 ; python_full_version == "3.8.16"
mpmath==1.3.0 ; python_full_version == "3.8.16"
multidict==6.0.4 ; python_full_version == "3.8.16"
networkx==3.1 ; python_full_version == "3.8.16"
nltk==3.8.1 ; python_full_version == "3.8.16"
numpy==1.24.3 ; python_full_version == "3.8.16"
nvidia-cublas-cu11==11.10.3.66 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-cuda-cupti-cu11==11.7.101 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-cuda-nvrtc-cu11==11.7.99 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-cuda-runtime-cu11==11.7.99 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-cudnn-cu11==8.5.0.96 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-cufft-cu11==10.9.0.58 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-curand-cu11==10.2.10.91 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-cusolver-cu11==11.4.0.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-cusparse-cu11==11.7.4.91 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-nccl-cu11==2.14.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
nvidia-nvtx-cu11==11.7.91 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
openai==0.27.4 ; python_full_version == "3.8.16"
oscrypto==1.3.0 ; python_full_version == "3.8.16"
packaging==23.1 ; python_full_version == "3.8.16"
pandas==1.5.3 ; python_full_version == "3.8.16"
pillow==9.5.0 ; python_full_version == "3.8.16"
pkgutil-resolve-name==1.3.10 ; python_full_version == "3.8.16"
posthog==3.0.1 ; python_full_version == "3.8.16"
protobuf==3.20.3 ; python_full_version == "3.8.16"
pyarrow==11.0.0 ; python_full_version == "3.8.16"
pycodestyle==2.10.0 ; python_full_version == "3.8.16"
pycparser==2.21 ; python_full_version == "3.8.16"
pycryptodomex==3.17 ; python_full_version == "3.8.16"
pydantic==1.10.7 ; python_full_version == "3.8.16"
pydeck==0.8.1b0 ; python_full_version == "3.8.16"
pygments==2.15.1 ; python_full_version == "3.8.16"
pyjwt==2.6.0 ; python_full_version == "3.8.16"
pymdown-extensions==9.11 ; python_full_version == "3.8.16"
pympler==1.0.1 ; python_full_version == "3.8.16"
pyopenssl==23.1.1 ; python_full_version == "3.8.16"
pyparsing==3.0.9 ; python_full_version == "3.8.16"
pyrsistent==0.19.3 ; python_full_version == "3.8.16"
python-dateutil==2.8.2 ; python_full_version == "3.8.16"
python-dotenv==1.0.0 ; python_full_version == "3.8.16"
pytz-deprecation-shim==0.1.0.post0 ; python_full_version == "3.8.16"
pytz==2023.3 ; python_full_version == "3.8.16"
pyyaml==6.0 ; python_full_version == "3.8.16"
regex==2023.3.23 ; python_full_version == "3.8.16"
requests==2.28.2 ; python_full_version == "3.8.16"
rich==13.3.4 ; python_full_version == "3.8.16"
scikit-learn==1.2.2 ; python_full_version == "3.8.16"
scipy==1.10.1 ; python_full_version == "3.8.16"
sentence-transformers==2.2.2 ; python_full_version == "3.8.16"
sentencepiece==0.1.98 ; python_full_version == "3.8.16"
setuptools==67.7.2 ; python_full_version == "3.8.16"
six==1.16.0 ; python_full_version == "3.8.16"
smmap==5.0.0 ; python_full_version == "3.8.16"
sniffio==1.3.0 ; python_full_version == "3.8.16"
snowflake-connector-python==3.0.3 ; python_full_version == "3.8.16"
snowflake-snowpark-python==1.3.0 ; python_full_version == "3.8.16"
soupsieve==2.4.1 ; python_full_version == "3.8.16"
st-annotated-text==4.0.0 ; python_full_version == "3.8.16"
starlette==0.26.1 ; python_full_version == "3.8.16"
streamlit-camera-input-live==0.2.0 ; python_full_version == "3.8.16"
streamlit-card==0.0.4 ; python_full_version == "3.8.16"
streamlit-embedcode==0.1.2 ; python_full_version == "3.8.16"
streamlit-extras==0.2.7 ; python_full_version == "3.8.16"
streamlit-faker==0.0.2 ; python_full_version == "3.8.16"
streamlit-image-coordinates==0.1.3 ; python_full_version == "3.8.16"
streamlit-keyup==0.2.0 ; python_full_version == "3.8.16"
streamlit-toggle-switch==1.0.2 ; python_full_version == "3.8.16"
streamlit-vertical-slider==1.0.2 ; python_full_version == "3.8.16"
streamlit==1.21.0 ; python_full_version == "3.8.16"
sympy==1.11.1 ; python_full_version == "3.8.16"
threadpoolctl==3.1.0 ; python_full_version == "3.8.16"
tokenizers==0.13.3 ; python_full_version == "3.8.16"
toml==0.10.2 ; python_full_version == "3.8.16"
tomli==2.0.1 ; python_full_version == "3.8.16"
toolz==0.12.0 ; python_full_version == "3.8.16"
torch==2.0.0 ; python_full_version == "3.8.16"
torchvision==0.15.1 ; python_full_version == "3.8.16"
tornado==6.3.1 ; python_full_version == "3.8.16"
tqdm==4.65.0 ; python_full_version == "3.8.16"
transformers==4.28.1 ; python_full_version == "3.8.16"
triton==2.0.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_full_version == "3.8.16"
typing-extensions==4.5.0 ; python_full_version == "3.8.16"
tzdata==2023.3 ; python_full_version == "3.8.16"
tzlocal==4.3 ; python_full_version == "3.8.16"
urllib3==1.26.15 ; python_full_version == "3.8.16"
uvicorn[standard]==0.21.1 ; python_full_version == "3.8.16"
uvloop==0.17.0 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_full_version == "3.8.16"
validators==0.20.0 ; python_full_version == "3.8.16"
watchdog==3.0.0 ; python_full_version == "3.8.16"
watchfiles==0.19.0 ; python_full_version == "3.8.16"
websockets==11.0.2 ; python_full_version == "3.8.16"
wheel==0.40.0 ; python_full_version == "3.8.16"
yarl==1.9.1 ; python_full_version == "3.8.16"
zipp==3.15.0 ; python_full_version == "3.8.16"
zstandard==0.21.0 ; python_full_version == "3.8.16"
